<% content_for :page_title do %>
  <%= t(:listing_banner_boxes) %>
<% end %>

<%= render :partial => 'spree/admin/shared/banner_box_sub_menu' %>

<%= render :partial => 'spree/admin/banner_boxes/manage_banners' %>

<div id="new_banner_box" data-hook></div>
